* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  box-shadow: 0px 3px 6px #dbd9d9;
  position: relative;
  z-index: 1;
}
header .container {
  max-width: 1125px;
  margin: auto;
  padding: 21px 15px;
  display: flex;
  justify-content: space-between;
}
header .container .navbar-logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}
header .container .navbar-logo__text {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #505050;
  width: 270px;
  margin-left: 10px;
}
header .container .navbar-menu__upper {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 10px 0px;
}
header .container .navbar-menu__upper li {
  margin-right: 23px;
}
header .container .navbar-menu__upper li a {
  color: #505050;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
header .container .navbar-menu__upper li .small-size {
  padding-right: 15px;
  font-size: 11px;
  font-weight: bold;
}
header .container .navbar-menu__upper li .medium-size {
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
}
header .container .navbar-menu__upper li .large-size {
  padding-right: 15px;
  font-size: 16px;
  font-weight: bold;
}
header .container .navbar-menu__upper .select-language {
  border: none;
}
header .container .navbar-menu__upper .dot-color-list {
  display: flex;
}
header .container .navbar-menu__upper .dot-color-list .dot-color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
header .container .navbar-menu__upper .dot-color-list .blue-dot {
  background-color: #265781;
  margin-right: 7px;
}
header .container .navbar-menu__upper .dot-color-list .green-dot {
  background-color: #52B27B;
  margin-right: 7px;
}
header .container .navbar-menu__upper .dot-color-list .yellow-dot {
  background-color: #F2E162;
  margin-right: 7px;
}
header .container .navbar-menu__upper li:last-child {
  border-left: 1px solid #265781;
  padding-left: 17px;
  margin-right: 0px;
}
header .container .navbar-menu__upper .upper-menu__border {
  border-right: 1px solid #265781;
  padding-right: 17px;
}
header .container .navbar-menu__lower {
  display: flex;
  justify-content: flex-end;
}
header .container .navbar-menu__lower li {
  padding-right: 18px;
  margin-right: 18px;
  border-right: 1px solid #707070;
}
header .container .navbar-menu__lower li a {
  color: #505050;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
header .container .navbar-menu__lower .last-border {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.manageDevelop-container {
  max-width: 1125px;
  margin: 140px auto 0 auto;
}

.manage-develop {
  display: flex;
  padding-left: 59px;
}
.manage-develop__text-upper {
  font-size: 43px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  color: #505050;
  padding-left: 111px;
}
.manage-develop__text-lower {
  font-size: 43px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  color: #505050;
  padding-left: 236px;
}
.manage-develop__text-middle {
  margin: 10px 0px;
}
.manage-develop__logo {
  position: absolute;
  left: 74%;
}

.services {
  background-image: linear-gradient(white, white, #e6dddd);
}
.services__container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 113px 0px 121px 0px;
  display: flex;
}
.services__content {
  width: 125px;
  text-align: center;
  margin-left: 90px;
}
.services__content-text {
  display: block;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #505050;
}

.hero-banner__img {
  width: 100%;
}
.hero-banner-container {
  max-width: 1125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 65px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.hero-banner-container__title {
  background-color: #1B7642;
  font-family: "Lato", sans-serif;
  font-size: 57px;
  font-weight: 900;
  padding: 0 20px;
  color: white;
}
.hero-banner-container__sub-title {
  background-color: #0F5C30;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 35px;
  padding: 12px 20px;
  font-weight: 900;
  margin-top: 5px;
}
.hero-banner-container__btn {
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 22px;
  padding: 10px 21px;
  margin-top: 33px;
  color: #272727;
}
.hero-banner__icon {
  width: 80px;
  height: 78px;
  position: absolute;
  left: 50%;
  bottom: -63px;
}