
$font-lato: 'Lato', sans-serif;

$logo-text:#505050;
$blue-dot:#265781;
$green-dot:#52B27B;
$yellow-dot:#F2E162;
$upper-menu-border:#265781;
$lower-menu-border:#707070;
$menu-text-link-color:#505050;
$font-size-color:black;
$vidc-bg-color:#1B7642;
$agr-irri-bg-color:#0F5C30;
$banner-btn-bg-color:#FFFFFF;
$banner-text-content-color:white;
$banner-btn-text-color:#272727;