
$primary-font: 'Lato', sans-serif;

$dark-grey-color:#505050;
$dark-blue-color:#265781;
$light-green-color:#52B27B;
$light-yellow-color:#F2E162;
$light-blue-color:#265781;
$light-grey-color:#707070;
$dark-grey-color:#505050;
$black-color:black;
$green-color:#1B7642;
$dark-green-color:#0F5C30;
$white:#FFFFFF;
$light-black-color:#272727;
$lightest-green-color: #44AF72;
$redish-brown:#3F3531;

$image-path:"../images";



// $manage-develop-text-color:#505050;
// $services-text-color:#505050;