.hero-banner{
    &__img{
        width: 100%;
    }
    &-container{
        max-width: 1125px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 65px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        
        &__title{
            background-color: $vidc-bg-color;
            font-family: $font-lato;
            font-size: 57px;
            font-weight: 900;
            padding: 0 20px;
            color: $banner-text-content-color;
        }
        &__sub-title{
            background-color: $agr-irri-bg-color;
            font-family: $font-lato;
            color: $banner-text-content-color;
            font-size: 35px;
            padding: 12px 20px;
            font-weight: 900;
            margin-top: 5px;
        }
        &__btn{
            background-color: $banner-btn-bg-color;
            font-family: $font-lato;
            font-weight: 400px;
            font-size: 22px;
            padding: 10px 21px;
            margin-top: 33px;
            color: $banner-btn-text-color;

        }
    }
    &__icon{
        width: 80px;
        height: 78px;
        position: absolute;
        left: 50%;
        bottom: -63px;


    }
  
}