.manageDevelop-container{
    max-width: 1125px;
    margin:140px auto 0 auto ;
    
}
.manage-develop{
    display: flex;
    padding-left: 59px;
    &__text{
        &-upper{
            font-size: 43px;
            font-weight:900 ;
            font-family: $font-lato;
            color: $manage-develop-text-color;
            padding-left: 111px;
        }
        &-lower{
            font-size: 43px;
            font-weight:900 ;
            font-family: $font-lato;
            color: $manage-develop-text-color;
            padding-left: 245px;

        }
        &-middle{
            text-transform: uppercase;
            font-size: 120px;
            line-height: 90px;
            font-weight: 900;
            margin: 10px 0;
            font-family: sans-serif;
            background-image: url(../../images/hero-banner.png);
            background-size: cover;
            background-position: center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
                }
    
    }
    &__logo{
        position: absolute;
        left: 76%;
    }

}