.hero-banner{
    .hero-banner__icon{
        width: 80px;
        bottom: 50px;
        left: 50%;
    }
    img{
        width: 100%;
        position: relative;
    }
    .hero-banner__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        bottom: 65px;
        left: 85px;
        .vidc{
            background-color: $vidc-bg-color;
            font-family: $font-lato;
            font-size: 57px;
            font-weight: 900;
            padding: 0 20px;
            color: $banner-text-content-color;
        }
        .agricultural-irrigation{
            background-color: $agr-irri-bg-color;
            font-family: $font-lato;
            color: $banner-text-content-color;
            font-size: 35px;
            padding: 12px 20px;
            font-weight: 900;
            margin-top: 5px;
        }
        .banner-btn{
            background-color: $banner-btn-bg-color;
            font-family: $font-lato;
            font-weight: 400px;
            font-size: 22px;
            padding: 10px 21px;
            margin-top: 33px;
        }
    }
  
}