.footer{
    background-image: url(#{$image-path}/footer-bg.png) ;
    height: 512px;
    .container{
        display: flex;
        padding-right: 0;
    }
    &-left{
        padding: 130px 26px 0 0;
        &__subscribe{
            position: relative;
            &-label{
                display: block;
                font-size: 22px;
                font-family: $primary-font;
                font-weight: 900;
                color: $white-color;
                margin-bottom: 15px;
            }
            &-input{
                width: 666px;
                padding: 12px 0 12px 15px;
                border-radius: 50px;
                background-color:$transparent-green ;
                border:none;
                margin:0 70px 20px 0;
                color: $white-color;
            }
            &-input:focus{
                outline: none;
            }
            &-input::placeholder{
                color: $white-color;
            }
            &-btn{
                font-size: 16px;
                font-weight: 900;
                font-family: $primary-font;
                padding: 6px 25px;
                margin-top: 4px;
                border-radius: 50px;
                position: absolute;
                right: 74px;
                border: none;

            }
        }
        .link-section{
            display: flex;
            margin-bottom: 70px;
            &__links{
                margin-right: 90px;
                &-title{
                    font-size: 18px;
                    font-weight: 900;
                    font-family: $primary-font;
                    color: $white-color;
                    margin-bottom: 15px;
                    
                }
                li{
                    margin-bottom:8px;
                    a{
                        font-size: 14px;
                        font-family: $primary-font;
                        color: $white-color; 
                    }
                }
                :last-child{
                    margin-bottom: 0;
                }

            }
            .disclouser-colum{
               margin-right: 0;
               margin-top: 40px;
            }
            
        }
       
    }
    &-copyright{
            display: flex;
            justify-content: space-between;
            &__left{
                width: 400px;
                font-size: 12px;
                font-family: $primary-font;
                color: $white-color;
                font-weight: 900; 
                 }
            &__right{
                width: 120px;
                text-align: right;
                font-size: 12px;
                font-family: $primary-font;
                color: $white-color;
                font-weight: 900; 
            }
        }
     &-right{
         background-color:$light-black ;
         margin-top: 110px;
         padding: 30px;
         &__contact{
             display: flex;
             &-line{
                 width: 245px;
                 opacity: 20%;
                 margin: 15px 0;
             }
             &-img{
                width: 20px;
                height: 31px;
                margin: 15px 20px 0 0;
             }
            &-title{
                font-size: 18px;
                color: $white-color;
                font-family: $primary-font;
                margin-bottom: 4px;
            } 
            &-link{
                font-size: 14px;
                color: $white-color;
                opacity: 80%;
            }
         }

         }   
   &__follow-us{
       padding-top: 36px;
       &__title{
           font-size: 18px;
           color: $white-color;
           font-family: $primary-font;
           display: inline-block;
           border-right: 1px solid $grey-color;
           padding-right: 20px;
       }
       &_link{
           margin-left: 20px;
           color:$white-color;

       }
   }
    
}

