.footer{
    // background-image: url(../../images/footer-bg.png);
    background-image: url(#{$image-path}/footer-bg.png);
    margin-top: 85px;
    height: 512px;
    &-container{
        display: flex;
        .link-section{
            margin: 130px 20px 0 0;
            &__subscribe{
                &-text{
                    font-size: 22px;
                    font-family: $primary-font;
                    font-weight: 900;
                    color: $white;
                    margin-bottom: 15px;

                }
                &-input{
                    width: 670px;
                    padding: 12px 0 12px 10px;
                    border-radius: 50px;
                    opacity: 0.1;
                    margin:0 70px 20px 0;
                    position: relative;
                   
                }

                &-btn{
                    font-size: 16px;
                    font-weight: 900;
                    font-family: $primary-font;
                    padding: 10px 25px;
                    border-radius: 50px;
                    position: absolute;
                    left: 46%;

                }
            }
            &__links{
                display: flex;
                
                &-aboutus{
                    margin-right: 110px;
                    &__text{
                        font-size: 18px;
                        font-weight: 900;
                        font-family: $primary-font;
                        color: $white;
                        margin-bottom: 15px;
                    }
                    li{
                        margin-bottom: 10px;
                        a{
                            font-size: 14px;
                            font-family: $primary-font;
                            color: $white;
                        }
                    }

                }
                &-important{
                    margin-right: 110px;
                    &__text{
                        font-size: 18px;
                        font-weight: 900;
                        font-family: $primary-font;
                        color: $white;
                        margin-bottom: 15px;

                    }
                    li{
                        margin-bottom: 10px;
                        a{
                            font-size: 14px;
                            font-family: $primary-font;
                            color: $white;
                        }
                    }

                }
                &-more{
                    margin-top: 40px;
                    li{
                        margin-bottom: 10px;
                        a{
                            font-size: 14px;
                            font-family: $primary-font;
                            color: $white; 
                        }
                    }

                }
            }
            &__copyright{
                display: flex;
                justify-content: space-between;
                margin-top: 55px;
                &-left{
                    width: 497px;
                    font-size: 12px;
                    font-family: $primary-font;
                    color: $white;
                    font-weight: 900; 
                }
                &-right{
                    width: 120px;
                    text-align: right;
                    font-size: 12px;
                    font-family: $primary-font;
                    color: $white;
                    font-weight: 900; 
                }

            }
        }
        .contact-section{
            width: 371px;
            height: 375px;
            background-color:$light-black;
            margin-top: 110px;
            &__content{
                display: flex;
                margin: 20px 20px 0 33px;
                &-locationimg{
                    margin-right: 15px;
                    padding-top: 30px;
                }
                &-img{
                    margin-right: 15px;
                    padding-top: 10px;
                }
                &-text{
                    &__heading{
                        a{
                            font-size: 18px;
                            font-family: $primary-font;
                            color:$white;
                            font-weight: 900;
                        }
                    }
                    &__para{
                        padding-bottom: 20px;
                        a{
                            font-size: 14px;
                            font-family: $primary-font;
                            color:$white;
                        }
                    }
                }
                &-followus{
                    font-size: 18px;
                    font-weight: 900;
                    font-family: $primary-font;
                    color: $white;
                    padding-right: 20px;
                    border-right: 1px solid $white;
                   
                }
                &-link{
                    margin-left: 20px;
                    color: $white;
                }
            }
        }
    }
}
// input::placeholder{
//     opacity: 1;
//     color: white;
// }