.manage-develop{
    display: flex;
    justify-content: center;
    .manage-develop__text-part{
        .manage-develop__text-part-upper{
            font-size: 43px;
            font-family: $font-lato;
            font-weight: bold;
            color: #505050;
            padding-left: 111px;
        }
        .manage-develop__text-part-lower{
            font-size: 43px;
            font-family: $font-lato;
            font-weight: bold;
            color: #505050;
            text-align: end;
        }
        .manage-develop__text-part-middle{
            padding-right: 134px;
            margin: 12px 0px;
        }
    }
    .manage-develop__logo-part{
        img{
            position: absolute;
            right: 100px;
        }
    }
}